[Unit]
Description=A discord <-> minecraft bridge
After=network.target

[Service]
User=discraft
Group=discraft

EnvironmentFile=/etc/default/discraft
ExecStart=/usr/bin/discraft
Restart=always
RestartPreventExitStatus=10
RestartSec=5s

[Install]
WantedBy=multi-user.target
